<!DOCTYPE html>
<html>
  <head>
    <title>Datcord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/1f3b6bba18.js" crossorigin="anonymous"></script>
  <%= favicon_link_tag asset_path('Discord-Logo-Color.png') %>  

  </head>
  <body>
    <%= yield %>
  </body>
</html>
